* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background: var(--tg-theme-secondary-bg-color);
    color: var(--tg-theme-text-color);
    font-family: sans-serif;
    font-size: 40px;
    width: 100%;
}

button {
    background: var(--tg-theme-button-color);
    color: var(--tg-theme-button-text-color);
}

.name {
    font-size: 24px;
    margin: 20px 0px 20px 16px;
}

.ball {
    color: gold;
    font-size: 28px;
    margin: 20px 0px 20px 16px;
}

.comments-container {
    width: 100%;
}

.comment {
    background-color: var(--tg-theme-bg-color);
    padding: 5px;
    border-radius: 8px;
    margin: 30px 8px 20px 8px;
}

.block-comentator {
    width: 100%;
}

.avatar {
    width: 50px;
    height: 50px;
    border-radius: 50%;
    display: inline;
    margin-left: 8px;
    margin-top: 4px;
    object-fit: cover;
}

.right {
    display: inline-block;
}

.name-comentator {
    font-size: 18px;
    margin: 0px 0px 8px 8px;
}

.date-comment {
    font-size: 14px;
    margin: 8px 0px 0px 8px;
}

.stars {
    margin: 0px 0px 20px 8px;
}

.col-stars {
    color: gold;
    font-size: 28px;
    display: inline;
}

.stars img {
    display: inline;
    width: 20px;
    height: 20px;
}

.comment-text {
    font-size: 18px;
    margin: 0px 16px 8px 8px;
}

::-webkit-scrollbar {
    width: 0;
}